@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2"); 
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 70;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #E5E5E5;
}

.button {
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase;
    border:none;
    font-size: 16px;
    line-height: 21px;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.logo {
    display: flex; 
    width: 139px;
    padding-right: 47px;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-list {
    width: 400px;
    margin: 0;
    padding: 0 40px;
}


.navigation-link {
    font-weight: 700;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.navigation-link-picked {
    text-decoration: underline;
}

.navigation-user {
    max-width: 300px;
    margin-left: auto;
}

.main-container {
    flex-grow: 1;
}

.button-navigation {
    background-color: #756257;
    line-height: 20px;
}


.main-index {
    color: #333333;
    background-color: #FFFFFF;
}

.main-inner {
    color: #000000;
    background-color: #FFFFFF;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}


.welcome {
    display: block; 
    margin: 0 auto;
}

.inner-header-filters {
    color:#FFFFFF;
    background-color: #000000;
    background-image: url("../images/catalog-background1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat; 
}

.section-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 0 0;
    padding: 0 40px; 
}

.section-description {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    padding: 0 40px;
}

.main-welcome {
    background-color: #83B3D3;
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.advantages-item,
.services-item {
    color: #000000;
    text-align: center;
    width: 400px;
}

.advantages-item-white {
    color: #FFFFFF;
    background-color: #83B3D3;
}

.advantages-title,
.services-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 400px;
}

.services-item,
.advantages-item-grey {
    background-color: rgba(242, 242, 242, 1);}

.services-item-white {
    background-color: #FFFFFF;
}

.advantages-item-blue {
    background-color: rgba(131, 179, 211, 0.2);
}

.index-columns,
.advantages-columns {
    background-color: white;
}

.services-list, 
.advantages-columns {
    display: flex; 
    justify-content: space-between;  
    margin: 0; 
    padding: 0; 
}

.booking {
    text-align: center;
}

.booking-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
}

.booking-description {
    font-size: 22px;
    line-height: 36px;
}

.button-search{
    background-color: #756257;
    font-size: 20px;
    line-height: 36px;
}


.subscribe-index {
    background-color: #333333;
    background-image: url("../images/background.index.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
}   

.subscribe-index-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subscribe-index-description {
    font-size: 22px;
    line-height: 26px;
}

.newsletter-email-field {
    color:#F2F2F2;
    font-size:18px; 
    line-height: 26px;
}

.newsletter-button {
    font-size: 20px;
    line-height: 26px;
}

.page-footer {
    text-align: center;
    background-color: #FFFFFF;
}

.page-footer-container {
    display: flex;
    padding: 0; 
    width: 1200px;
    margin: 0 auto;
}

.social-links {
    text-align: left;
    width: 107px; 
    padding-right: 61px;
} 

.social-link {
    color: #83B3D3;
}

.footer-phone {
    text-decoration-line: none;
    color: #000000;
    padding-left: 61px;
    padding-right: 53px;
    margin: 0 auto;
}

.footer-site {
    margin-left: auto;
    max-width: 115px;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs-link {
    font: 16px;
    line-height: 21px;
    color:#FFFFFF;
}

.filters {
    display: flex;
    margin: 0 auto; 
    padding: 0;
}

.checkboxes {
    width: 150px;
    padding-right: 67px;
}

.checkboxes-types {
    width: 130px;
    padding-right: 167px;
}

.checkboxes-prices {
    width: 300px;
    padding-right: 81px;
}

.hotels-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.hotels-filter-input {
    font-size: 18px;
    line-height: 23px;
}

.control-input {
    font-family: inherit;
    font-size: 20px;
    line-height: 26px;
}


.button-submit {
    background-color: transparent;
    text-transform: none;
    font-weight: 400;
}


.section-description-number {
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}

.filter-number {
    display: flex; 
    justify-content: space-between;  
    margin: 0; 
    padding: 0; 
}

.button-cards {
    color:black;
    background-color: #FFFFFF;
}

.hotels-card-link {
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    text-decoration: none; 
}

.hotels-card-type,
.hotels-card-price {
    font-size: 18px;
    line-height: 23px;
}

.button-brown {
    background-color: #756257;
}

.button-blue-picked {
    background-color: #7DB54F;
}

.hotels-card-rating {
    background-color: #F2F2F2;
    text-transform: uppercase;
    text-align: right;
}

.hotels-products {
    width: 1200px;
}

.button-more {
    font-size: 20px;
    line-height: 26px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.pagination-link {
    background-color: #83B3D3;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

.sorting-type {
    text-align: right;
    font-size: 18px;
    line-height: 23px;
}

.subscribe-inner {
    text-align: center;
}   
.subscribe-inner-title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.subscribe-inner-description {
    font-size: 22px;
    line-height: 26px;
}


